<!DOCTYPE html>
<html>
<head>
<style>
</style>
</head>
<body>

<h2>Report for : {{SalesPersonName}}</h2>

<img src="{{pic1}}.jpg" alt="Trulli" width=1000 height=1000>

<br>
<p style="page-break-before: always">

    <object data="{{dataframe}}.html" width="1000" height="400">
        Your browser doesn’t support the object tag.
    </object>


</body>
</html>
