Report List
{% for repotName in reports %}
   report {{repotName}}
{% endfor %}
Discovery
    Gather and document report requirements
    Define report scope and use cases
    Define Metric and KPI definitions
    Define personas and data security
Report development
    Design and Develop data model
    Build Framework and Reports
    Actual Development
    Implement data Security
    Optimize report performance
    Unit Tests
Testing and validation
    Perform unit testing
    Data Validation
    User acceptance testing (UAT)
Deployment
    Deploy product to QA environment
    Deploy product to PROD environment
Post Deployment Support
    Monitor report performance
    Address any issues or bugs
    Monitor Report Adoption
