{{DataProduct}}|{{Timeline}}|Discovery|Discovery
{{DataProduct}}|{{Timeline}}|Discovery|Gather and document report requirements
{{DataProduct}}|{{Timeline}}|Discovery|Define report scope and use cases
{{DataProduct}}|{{Timeline}}|Discovery|Define Metric and KPI definitions
{{DataProduct}}|{{Timeline}}|Discovery|Define personas and data security
{{DataProduct}}|{{Timeline}}|Report development|Report development
{{DataProduct}}|{{Timeline}}|Report development|Design and Develop data model
{{DataProduct}}|{{Timeline}}|Report development|Build Framework and Reports
{{DataProduct}}|{{Timeline}}|Report development|Actual Development
{{DataProduct}}|{{Timeline}}|Report development|Implement data Security
{{DataProduct}}|{{Timeline}}|Report development|Optimize report performance
{{DataProduct}}|{{Timeline}}|Report development|Unit Tests
{{DataProduct}}|{{Timeline}}|Testing and validation|Testing and validation
{{DataProduct}}|{{Timeline}}|Testing and validation|Perform unit testing
{{DataProduct}}|{{Timeline}}|Testing and validation|Data Validation
{{DataProduct}}|{{Timeline}}|Testing and validation|User acceptance testing (UAT)
{{DataProduct}}|{{Timeline}}|Deployment|Deployment
{{DataProduct}}|{{Timeline}}|Deployment|Deploy product to QA environment
{{DataProduct}}|{{Timeline}}|Deployment|Deploy product to PROD environment
{{DataProduct}}|{{Timeline}}|Post Deployment Support|Post Deployment Support
{{DataProduct}}|{{Timeline}}|Post Deployment Support|Monitor report performance
{{DataProduct}}|{{Timeline}}|Post Deployment Support|Address any issues or bugs
{{DataProduct}}|{{Timeline}}|Post Deployment Support|Monitor Report Adoption